<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Journal - Entry Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo" width="30" height="30">
        <ul class="main-list">
            <li class="list__item">
                <a href="{{ url_for('login') }}">
                    <img src="{{ url_for('static', filename='img/login.svg') }}" alt="login" width="20" height="20">
                </a>
            </li>
        </ul>
    </header>

    <main class="main">
        {% block content %}
        <h1 class="main__title">{{ card.title }}</h1>
        <div class="main_block">
            <h2 class="main__subtitle">{{ card.subtitle }}</h2>
            <div class="main__text">
                {{ card.text }}
            </div>
            <a class="main__link" href="{{ url_for('index') }}">Back to Dashboard</a>
        </div>
        {% endblock %}
    </main>

    <footer></footer>
</body>
</html>
