<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Journal - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo" width="30" height="30">
        <ul class="main-list">
            <li class="list__item">
                <a href="{{ url_for('login') }}">
                    <img src="{{ url_for('static', filename='img/login.svg') }}" alt="login" width="20" height="20">
                </a>
            </li>
        </ul>
    </header>

    <main class="main">
        {% block content %}
        <h1 class="main__title">My Journal Entries</h1>
        <ul class="cards-list">
            {% for el in cards %}
            <li class="card">
                <a class="card_link" href="/card/{{ el.id }}">
                    <img class="card_img" src="{{ url_for('static', filename='img/post_icon.png') }}" width="250" height="250" alt="post_icon">
                    <div class="card_text">
                        <h2 class="card__title">{{ el.title }}</h2>
                        <p class="card__subtitle">{{ el.subtitle }}</p>
                    </div>
                </a>
            </li>
            {% endfor %}

            <li class="card card--creat">
                <a class="creat_link" href="{{ url_for('create') }}"></a>
            </li>
        </ul>
        {% endblock %}
    </main>

    <footer></footer>
</body>
</html>
